%ul.no-bullet
  %li
    .cp-volunteer
      %p List volunteers here
= form_tag @event do |f|
  %fieldset
    %legend Add volunteer
    .row
      .large-12.columns
        = label_tag 'Volunteer name'
        = text_field_tag :volunteer_name
        = label_tag 'Volunteer email'
        = email_field_tag :volunteer_email
  .row
    .large-12.columns
      = submit_tag 'Add', class: 'button right small secondary'

%ul
  - @event.supplies.each do |supply|
    %li
      %span= supply.name
      %span= "$#{supply.price}"
      %span= " x #{supply.quantity} unit(s)"
= form_for [@event, @event.supplies.new] do |f|
  %fieldset
    %legend Add supplies
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name
        = f.label :quantity
        = f.number_field :quantity
        = f.label :price
        = f.number_field :price
        = f.button 'Add', class: 'button expand small secondary'
