%ul.no-bullet
  - @event.users.each do |user|
    %li
      .cp-volunteer
        %p
          %span= "#{user.last_name}, #{user.first_name} <#{user.email}>"
= form_for [@event, @event.users.new] do |f|
  %fieldset
    %legend Add volunteer
    .row
      .large-6.columns
        = f.label :first_name
        = f.text_field :first_name
      .large-6.columns
        = f.label :last_name
        = f.text_field :last_name
    .row
      .large-12.columns
        = f.label :email
        = f.email_field :email
  .row
    .large-12.columns
      = submit_tag 'Add', class: 'button right small secondary'

- if @event.supplies.blank?
  %p.empty No supplies added yet
- else
  %h5
  %ul.no-bullet
    - @event.supplies.each do |supply|
      %li
        .cp-supply
          %span= supply.name
          %span $#{supply.price}
          %span x #{supply.quantity} unit(s)
= form_for [@event, @event.supplies.new] do |f|
  %fieldset
    %legend Add supplies
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name
        = f.label :quantity
        = f.number_field :quantity
        = f.label :price
        = f.number_field :price
  .row
    .large-12.columns
      = f.submit 'Add', class: 'button right small secondary'
