= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend User

    .row
      .large-12.columns
        = f.label :first_name
        = f.text_field :first_name
    .row
      .large-12.columns
        = f.label :last_name
        = f.text_field :last_name
    .row
      .large-12.columns
        = f.label :email
        = f.text_field :email
    .row
      .large-12.columns
        = f.label :phone_number
        = f.number_field :phone_number
    .row
      .large-12.columns
        = f.label :twitter_handle
        = f.text_field :twitter_handle
    .row
      .large-12.columns
        = f.label :facebook_handle
        = f.text_field :facebook_handle
    .row
      .large-12.columns
        = f.label :zipcode
        = f.number_field :zipcode
  .row
    .large-12.columns.actions
      = f.submit 'Save', class: 'button'
