- provide(:title, 'User')

.row.bglite
  .large-6.columns
    %h1 My Account

    %p
      %b First name:
      = @user.first_name
    %p
      %b Last name:
      = @user.last_name
    %p
      %b Email:
      = @user.email
    %p
      %b Phone number:
      = @user.phone_number
    %p
      %b Twitter handle:
      = @user.twitter_handle
    %p
      %b Facebook handle:
      = @user.facebook_handle
    %p
      %b Zipcode:
      = @user.zipcode
  .large-6.columns
    %h3 Need to change something?
    = link_to 'Edit', edit_user_path(@user), class: ['button', 'secondary', 'small']
    %div.events
      %h4 Projects
      - if @user.events.count > 1
        %ul
        - @user.events.each do |event|
          %li link_to "/events/#{event.id}/show"
      - else
        %p You have no projects you are involved in yet

.row.bglite
  .large-12.columns
    %p
      = link_to 'Back', users_path
