- provide(:title, 'User')

.row.bglite
  .large-6.columns
    %p#notice= notice

    %h1 My Account

    %p
      %b First name:
      = @user.first_name
    %p
      %b Last name:
      = @user.last_name
    %p
      %b Email:
      = @user.email
    %p
      %b Phone number:
      = @user.phone_number
    %p
      %b Twitter handle:
      = @user.twitter_handle
    %p
      %b Facebook handle:
      = @user.facebook_handle
    %p
      %b Zipcode:
      = @user.zipcode
  .large-6.columns
    %h3 Need to change something?
    = link_to 'Edit', edit_user_path(@user), class: ['button', 'secondary', 'small']
.row.bglite
  .large-12.columns
    %p
      = link_to 'Back', users_path
