%li
  .row.cp-comment
    .large-2.columns
      .cp-comment-user
        = image_tag('//placehold.it/50/50')
    .large-10.columns
      .cp-comment-content
        %small
          = time_tag comment.created_at, :format=>'%e %B, %Y at %l:%M%p'
          | #{comment.user.last_name}, #{comment.user.first_name}
        %p= comment.comment
