= form_for @event do |f|
  = hidden_field :event, :deadline

  - if @event.errors.any?
    #error_explanation
      %ul.no-bullet
        - @event.errors.full_messages.each do |msg|
          %li
            .alert-box.alert
              = msg

  %fieldset
    %legend Event

    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name, required: true
    .row
      .large-12.columns
        = label_tag :date
        = date_field_tag :date, nil, class: 'js-pickadate', required: true
    .row
      .large-12.columns
        = label_tag :time
        = time_field_tag :time, nil, class: 'js-pickatime', required: true
    .row
      .large-12.columns
        = f.label :zipcode
        = f.number_field :zipcode, required: true
    .row
      .large-12.columns
        = f.label :description
        = f.text_area :description, required: true
    .row
      .large-12.columns
        = f.label :website
        = f.url_field :website
    .row
      .large-12.columns
        = f.submit 'Create', class: 'button'
