= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Event

    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name
    .row
      .large-12.columns
        = f.label :deadline
        = f.text_field :deadline
    .row
      .large-12.columns
        = f.label :description
        = f.text_area :description
    .row
      .large-12.columns
        = f.label :website
        = f.text_area :website
    .row
      .large-12.columns
        = f.label :properties
        = f.text_area :properties
    .row
      .large-12.columns
        = f.submit 'Save', class: 'button'
