= form_for @event, html: { method: :put } do |f|
  = hidden_field_tag 'event[deadline]', @event.deadline.strftime('%Y-%m-%dT%H:%M:00')

  - if @event.errors.any?
    #error_explanation
      %ul.no-bullet
        - @event.errors.full_messages.each do |msg|
          %li
            .alert-box.alert
              = msg

  %fieldset
    %legend Event details

    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name
    .row
      .large-12.columns
        = label_tag :date
        = date_field_tag :date, @event.deadline.strftime('%-d %B, %Y'), class: 'js-pickadate'
    .row
      .large-12.columns
        = label_tag :time
        = time_field_tag :time, @event.deadline.strftime('%l:%M %p').lstrip, class: 'js-pickatime'
    .row
      .large-12.columns
        = f.label :zipcode
        = f.number_field :zipcode
    .row
      .large-12.columns
        = f.label :description
        = f.text_area :description
    .row
      .large-12.columns
        = f.label :website
        = f.url_field :website
    .row
      .large-12.columns
        = f.submit 'Update', class: 'button'
