- provide(:title, 'Edit event')

.row.bglite
  .large-12.columns

  .large-6.columns
    %h3 Edit #{@event.name}
    = render 'events/forms/edit'
  .large-6.columns
    %h3.h3 Edit contributions
    = render 'events/forms/contributions'

.row.bglite
  .large-12.columns
    = link_to 'Show', @event
    = link_to 'Back', events_path
