- provide(:title, 'Edit event')

.row.bglite
  .large-12.columns
    %h1 Edit #{@event.name}
    %h3.subheading= @event.description

  .large-6.columns
    = render 'form_edit'
    .row
      .large-6.columns
        = link_to 'Show', @event
      .large-6.columns
        = link_to 'Back', events_path

  .large-6.columns
