- provide(:title, 'Events')

.row.bglite
  .large-12.columns
    %h1 Events listing
    = link_to 'New Event', new_event_path, class: 'button'

- if user_signed_in?
  .row.bglite
    .large-12.columns
      %h2 Nearby
      %ul.large-block-grid-4
        - @nears.each_with_index do |near, index|
          %li
            = link_to(near) do
              = image_tag("listing_#{index+1}.png")
              %h4.subheader= near.name
              %p
                %i.fi-target-two
                #{near.distance.round(2)} miles away

.row.bglite
  .large-12.columns
    %h2 All
    %ul.large-block-grid-4
      - @events.each_with_index do |event, index|
        %li
          = link_to(event) do
            = image_tag("listing_#{index+1}.png")
            %h4.subheader= event.name

