.row
  .masthead.event
.row.bglite
  .large-12.columns
    .cp-event
      .large-6.columns
        = render "card"
        = render "comments"
      .large-6.columns
        = render "call_to_action"
        = render "supporters"
        = render "supplies"
