- provide(:title, @event.name)

.row
  .masthead.event

.row.bglite
  .large-12.columns
    .cp-event
      .large-6.columns
        = render "card"
        = render "comments", :event => @event
      .large-6.columns
        = render "call_to_action"
        = render "supporters", :event => @event
        = render "supplies"
