- provide(:title, 'Place Order')
.row.bglite
  .large-12.columns
    %h2 Join the project
    %div.panel
      %p You can help in two ways:
      %ul
        %li Contribute your time and effort to #{@event.name}
        %li contribute money to #{@event.name}

.row.bglite
  .large-12.columns
    %h2 Place Order

    = form_for [@event, @order] do |f|
      - if @event.errors.any?
        #error_explanation
          %ul
            - @event.errors.full_messages.each do |msg|
              %li= msg
      %fieldset
        %legend Order details
        .row
          .large-12.columns
            = f.label :amount
            = f.text_field :amount, required: true
        .row
          .large-12.columns
            = f.label :description
            = f.text_field :description, required: false
      .row
        .large-6.columns
          %fieldset
            %legend Pay with PayPal
            = f.button 'Paypal', type: :submit, name: "order[payment_method]", value: 'paypal', class: 'button secondary'
        .large-6.columns
          %fieldset
            %legend Pay with credit or debit card
            = f.fields_for :credit_card, @order.credit_card do |cc|
              = render "orders/credit_card", f: cc
              = f.button 'Place Order', type: :submit, name: "order[payment_method]", value: 'credit_card', class: 'button'
