%h2 Place Order

= form_for [@event, @order] do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend Donation
    .row
      .large-12.columns
        = f.label :amount
        = f.text_field :amount, :required => true
    .row
      .large-12.columns
        = f.label :description
        = f.text_field :description, :required => false
  %fieldset
    %legend Pay with PayPal
    = link_to('PayPal', '#', class: 'button secondary')
  %fieldset
    %legend Pay with credit or debit card
    .row
      .large-12.columns
        = f.fields_for :credit_card, @order.credit_card do |cc|
          = render "orders/credit_card", :f => cc

    .form-actions
      = submit_tag "Place Order", :class => "btn btn-primary"