.row
  .large-12.columns
    %h2 Sign in

    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      = devise_error_messages!
      %fieldset
        %legend Sign in

        .row
          .large-12.columns
            = f.label :email
            = f.email_field :email, autofocus: true

        .row
          .large-12.columns
            = f.label :password
            = f.password_field :password

        - if devise_mapping.rememberable?
          .row
            .large-12.columns
              = f.label :remember_me do
                = f.check_box :remember_me
                Remember me

        .row
          .large-12.columns.actions
            = f.submit "Sign in", class: 'button'

.row
  .large-12.columns
    = render "devise/shared/links"
