!!!
%html.no-js{ lang: 'en' }
  = render 'head'
  %body{ class: [controller.controller_name, controller.action_name] }
    = render 'header'

    .row.bglite
      - flash.each do |name, msg|
        %div.flash.alert-box.secondary{ class: name }= msg

    = yield
    = render 'footer'
    = render 'javascripts'
